.swipe-container {
  position: relative;
  overflow: hidden;
}

.actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.actions button {
  width: 80px;
  border: none;
  cursor: pointer;
}


.content {
  
  touch-action: pan-y; /* importante */
}

.content.animate {
  transition: transform 0.2s ease;
}